.wrapper {
  padding-top: 50px;
  @media(min-width: 1200px) {
    width: 85%;
    clear: both;
    margin: 0 auto;
  }

  @media(max-width: 1200px) {
    width: 90%;
    clear: both;
    margin: 0 auto;
  }
}
